@model IEnumerable<ShopThuongMaiDienTu.ViewModels.HangHoaVM>

@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHangHoa">
                <img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid w-100 rounded-top" alt="" width="300px">
                </a>
            </div>
            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.TenLoai</div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHangHoa">
                <h4>@item.TenHangHoa</h4>
                </a>
                <p>@item.MoTaNgan</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">$@item.DonGia / kg</p>
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHangHoa" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ</a>
                </div>
            </div>
        </div>
    </div>
    
}
<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">
        @if (ViewBag.CurrentPage > 1)
        {
            <a asp-action="Index" asp-route-page="@(ViewBag.CurrentPage - 1)" class="rounded">&laquo;</a>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a asp-action="Index" asp-route-page="@i" class="rounded @(i == ViewBag.CurrentPage ? "active" : "")">@i</a>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 1)" class="rounded">&raquo;</a>
        }
    </div>
</div>